# Feature Selection / Data Cleaning

In [1]:
import time

import datetime
import pandas as pd
import numpy as np

import warnings
warnings.simplefilter('ignore')

### Load Data

In [2]:
df = pd.read_parquet('../data/label.parquet', engine='pyarrow')
df.head()

         date  PULocationID  count
0  2023-01-31            68      1
1  2023-01-31           113      1
2  2023-01-31           114      2
3  2023-01-31           132      1
4  2023-01-31           158      1

### Extracting  Features (Day of week / Day of Month)

In [3]:
# Extracting new features based on pickup date

df['date']=df['date'].astype('datetime64')

# Extract the pickup day of the month from the datetime column
df['PU_day_of_month'] = df['date'].dt.day.astype(np.uint8)

# Extract the pickup day of the week (0-6) from the datetime column
df['PU_day_of_week'] = df['date'].dt.weekday.astype(np.uint8)

df.head(5)

        date  PULocationID  count  PU_day_of_month  PU_day_of_week
0 2023-01-31            68      1               31               1
1 2023-01-31           113      1               31               1
2 2023-01-31           114      2               31               1
3 2023-01-31           132      1               31               1
4 2023-01-31           158      1               31               1

### Extracting  Features (last_day_deman_cnt / last_week_deman_cnt)

In [4]:
df['last_day']=''
df['last_week']=''
for i in df.index:
    df['last_day'].loc[i] = df['date'].loc[i]- datetime.timedelta(days=1)
    df['last_week'].loc[i] = df['date'].loc[i]- datetime.timedelta(days=7)

In [5]:
def last_demand_count(df,last_date,LID):
    return (df[(df['date'] == last_date) & (df['PULocationID'] == LID)]['count']).values[0]


df['last_day_demand_cnt'] = ''
df['last_week_demand_cnt'] = ''
for i in df.index:
    try:
        df['last_day_demand_cnt'].loc[i] = last_demand_count(df,df['last_day'].loc[i],df['PULocationID'].loc[i])
    except IndexError:
        df['last_day_demand_cnt'].loc[i] = 0
    
    try:    
            df['last_week_demand_cnt'].loc[i] = last_demand_count(df,df['last_week'].loc[i],df['PULocationID'].loc[i])
    except IndexError:
        df['last_week_demand_cnt'].loc[i] = 0
        
df.head(5)

,date,PULocationID,count,PU_day_of_month,PU_day_of_week,last_day,last_week,last_day_demand_cnt,last_week_demand_cnt
0,2023-01-31,68,1,31,1,2023-01-30 00:00:00,2023-01-24 00:00:00,0,0
1,2023-01-31,113,1,31,1,2023-01-30 00:00:00,2023-01-24 00:00:00,0,0
2,2023-01-31,114,2,31,1,2023-01-30 00:00:00,2023-01-24 00:00:00,0,0
3,2023-01-31,132,1,31,1,2023-01-30 00:00:00,2023-01-24 00:00:00,0,0
4,2023-01-31,158,1,31,1,2023-01-30 00:00:00,2023-01-24 00:00:00,0,0

### write new Data set

In [6]:
df.to_parquet('../data/featureDS.parquet')

### Test

In [7]:
df[(df['PULocationID'] == 79)].head(30)

,date,PULocationID,count,PU_day_of_month,PU_day_of_week,last_day,last_week,last_day_demand_cnt,last_week_demand_cnt
73,2023-02-01,79,1838,1,2,2023-01-31 00:00:00,2023-01-25 00:00:00,0,0
293,2023-02-02,79,2191,2,3,2023-02-01 00:00:00,2023-01-26 00:00:00,1838,0
520,2023-02-03,79,3107,3,4,2023-02-02 00:00:00,2023-01-27 00:00:00,2191,0
740,2023-02-04,79,3848,4,5,2023-02-03 00:00:00,2023-01-28 00:00:00,3107,0
953,2023-02-05,79,3123,5,6,2023-02-04 00:00:00,2023-01-29 00:00:00,3848,0
1166,2023-02-06,79,1305,6,0,2023-02-05 00:00:00,2023-01-30 00:00:00,3123,0
1391,2023-02-07,79,1665,7,1,2023-02-06 00:00:00,2023-01-31 00:00:00,1305,0
1612,2023-02-08,79,1797,8,2,2023-02-07 00:00:00,2023-02-01 00:00:00,1665,1838
1836,2023-02-09,79,2227,9,3,2023-02-08 00:00:00,2023-02-02 00:00:00,1797,2191
2060,2023-02-10,79,3043,10,4,2023-02-09 00:00:00,2023-02-03 00:00:00,2227,3107
2283,2023-02-11,79,5376,11,5,2023-02-10 00:00:00,2023-02-04 00:00:00,3043,3848
2495,2023-02-12,79,3992,12,6,2023-02-11 00:00:00,2023-02-05 00:00:00,5376,3123
2714,2023-02-13,79,1445,13,0,2023-02-12 00:00:00,2023-02-06 00:00:00,3992,1305
2939,2023-02-14,79,1978,14,1,2023-02-13 00:00:00,2023-02-07 00:00:00,1445,1665
3165,2023-02-15,79,2054,15,2,2023-02-14 00:00:00,2023-02-08 00:00:00,1978,1797
3389,2023-02-16,79,2070,16,3,2023-02-15 00:00:00,2023-02-09 00:00:00,2054,2227
3616,2023-02-17,79,3035,17,4,2023-02-16 00:00:00,2023-02-10 00:00:00,2070,3043
3843,2023-02-18,79,4496,18,5,2023-02-17 00:00:00,2023-02-11 00:00:00,3035,5376
4060,2023-02-19,79,4031,19,6,2023-02-18 00:00:00,2023-02-12 00:00:00,4496,3992
4274,2023-02-20,79,1700,20,0,2023-02-19 00:00:00,2023-02-13 00:00:00,4031,1445
4484,2023-02-21,79,1457,21,1,2023-02-20 00:00:00,2023-02-14 00:00:00,1700,1978
4712,2023-02-22,79,1805,22,2,2023-02-21 00:00:00,2023-02-15 00:00:00,1457,2054
4938,2023-02-23,79,1982,23,3,2023-02-22 00:00:00,2023-02-16 00:00:00,1805,2070
5165,2023-02-24,79,3053,24,4,2023-02-23 00:00:00,2023-02-17 00:00:00,1982,3035
5386,2023-02-25,79,5469,25,5,2023-02-24 00:00:00,2023-02-18 00:00:00,3053,4496
5599,2023-02-26,79,3724,26,6,2023-02-25 00:00:00,2023-02-19 00:00:00,5469,4031
5811,2023-02-27,79,1242,27,0,2023-02-26 00:00:00,2023-02-20 00:00:00,3724,1700
6034,2023-02-28,79,1567,28,1,2023-02-27 00:00:00,2023-02-21 00:00:00,1242,1457
6256,2023-03-01,79,1834,1,2,2023-02-28 00:00:00,2023-02-22 00:00:00,1567,1805
6482,2023-03-02,79,2174,2,3,2023-03-01 00:00:00,2023-02-23 00:00:00,1834,1982